* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --bg_main: linear-gradient(to right, rgb(61, 4, 75) , rgb(193, 69, 205));
    --text_light: #fff;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --red: #ff1e42;
    --darkpurple: #37035c;
    --orange: #facb4b;
  }

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    font: 1rem/1.3 "Roboto", sans-serif;
    background: var(--bg_main);
    padding: 70px;
    height: auto;
    width: 200vh;
}

h1 {
    color: var(--text_light);
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
    padding: 0 0 10px 0;
    text-shadow: 4px 2px rgba(0,0,0,0.25);
    margin-top: 2px;
}


.input {
    height:auto;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 10px 20px;
    border-radius: 15px;
    
}

.button {
    height:auto;
    color: rgb(248, 249, 249);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 10px;
    background: var( --darkpurple);
    transition: background 0.3s ease-in-out;
    border: none;
}
button:hover {
    background: var( --orange);
  }

/* ---- city cards ----- */

.cityCardContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}

.img {
    width: 150px;

}

p { 
    color: rgb(252, 247, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-right: 10px;
    margin-top: 10px;
    text-shadow: 4px 5px rgba(0,0,0,0.35);
    float: right;
}

#firstDayofWeek {
    font-size: 1.2rem;
    font-weight: 200;
    margin-right: 10px;
    margin-top: 10px;
    float:inherit;
    text-shadow: none;
}

#cityCard {
    list-style: none;
    border-radius: 20px;
    background: var(--orange);
    color: white;
    font-size: 1rem;
    text-align: left;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}

#weeklyForecastTable {
    padding: none;
    margin: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    text-shadow: 0.5px 0.5px 0.5px rgb(94, 94, 95);
} 

#msg {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-left: 40px;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-size: 2rem;
}

/* ---- media querys ----- */

@media screen and (max-width: 500px) {
    body {
        display: grid;
        grid-gap:10px 10px;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        width: 300px;
        padding: 15px;
    }
    h1 { 
        font-size: 3rem;
        letter-spacing: 0.02em;
        margin: 5%;
        padding: 5%;
    }
    .cityCardContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 50px;
        padding: 0%;
    }
    .button {
        width: 80%;
        margin: 1%;
        margin-left: 10%;
    }
    .input {
        font-size: 1.2em;
        margin: 5px;
        margin-left: 10%;
    }
    ul {
      font-size: 1.2rem;
    }
    #msg {
        font-size: 1.2rem;
    }
  }